# You will need a secrets.yml file to run the app. You can either rename
# this file or generate your own (by generating a new rails app). You 
# would never want to commit this file to git in real life, but it's here
# for your convenience since this is a tutorial. 
#
# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 73f99e9f55c0c503e217ebd16ac803689efb97e674b18d002888c686e9e7b98e861898d5326b8b35bc9cf78beecfad89f165d8140d946cf9e9db915ce0c12deb

test:
  secret_key_base: af013c4eb2880c5481b06f53c6988731f977b671a8ccad9a9eac9f1b25a7dbe4ea64fa7882a691e988901164d78cef790ce3bc0e7fc9d62a83bd3a6a4ccd7e80

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
