<div class="text-center">
  <h2>Tutorial Pages</h2>
</div>

<!--
#TODO
1. react_component introduction
2. Simple component with render
3. Simple component with render and a following application
4. component calling another component
5. component calling another component with return action
6. more complex component
7. component with ajax calls
8. server side rendering
9 rendering components instead of views ( push this up )
10. jsx
11. jsx and coffee -->
<div class='container'>
  <hr>
  <table>
    <thead>
      <tr>
        <th> </th>
        <th> Pages </th>
        <th> Description </th>
      </tr>
    </head>
    <tbody>
      <tr>
        <th>1.</th>
        <th><%= link_to "The Render Method", one_render_method_tutorial_index_path, class:"navbar-text"%></th>
        <th>An introduction to a react component and the all important render method</th>
      </tr>
      <tr>
        <th>2.</th>
        <th><%= link_to "Calling a Function", two_calling_functions_tutorial_index_path, class:"navbar-text"%></th>
        <th>Calling a function from the render method</th>
      </tr>
      <tr>
        <th>3.</th>
        <th><%= link_to "Introduction to State", three_introduction_to_state_tutorial_index_path, class:"navbar-text"%></th>
        <th>Introduction to a components state.</th>
      </tr>
      <tr>
        <th>4.</th>
        <th><%= link_to "Passing in Data", four_props_tutorial_index_path, class:"navbar-text"%></th>
        <th>Passing data into a component</th>
      </tr>
    </tbody>
  </table>
</div>
