<div class="text-center">
  <h2>Tutorial Pages</h2>
</div>

<!--
#TODO
1. react_component introduction
2. Simple component with render
3. Simple component with render and a following application
4. component calling another component
5. component calling another component with return action
6. more complex component
7. component with ajax calls
8. server side rendering
9 rendering components instead of views ( push this up )
10. jsx
11. jsx and coffee -->
<div class='container'>
  <hr>
  <table>
    <thead>
      <tr.text-center>
        <th> Pages </th>
      </tr>
    </head>
    <tbody>
      <tr><th><%= link_to "First Page", one_tutorial_index_path, class:"navbar-text"%></th></tr>
      <tr><th><%= link_to "Second Page", two_tutorial_index_path, class:"navbar-text"%></th></tr>
    </tbody>
  </table>
</div>
