<%= render partial: 'shared/signage' %>

<div class="text-center">
  <h3>
    1. Create a dropdown component that hits an endpoint to grab data.
  </h3>
  <h3>
    2. Create a component that renders a dropdown for ingredients.
    When an ingredient is picked render another ingredient dropdown component.
  </h3>
  <h3>
    3. Have the previous component contain a button that when clicked saves the ingredients into a sandwich.
  </h3>
  <h3>
    4. Create a new ingredient component.
  </h3>
<div>
