<%= render partial: 'shared/signage' %>

<div class="text-center">
  <h3>
    1. The ingredients page has a search by name field at the top of the page.
    Make another search box for the description.
  </h3>
  <h3>
    2. The recipes page is a simple html table.  Make this into a component with
    search features on name and description.  Bonus points if you can use the
    same table component.
  </h3>
  <h3>
    3.  Have the front sandwhich search component return results.
  </h3>
  <h3>
    4. Create a component to create new sandwiches.
  </h3>
<div>
